<h1>Play#game1</h1>
<p>Find me in app/views/play/game1.html.erb</p>

<p>
  1+2= <%= 1+2 %>
</p>

<p>
  cow + boy = <%= "cow" + "boy"%>
</p>

<p>
  Time in one hour: <%= 1.hour.from_now.localtime %>
</p>
